<div class="main-page-container full-height dx-viewport">
    <header>
        <div>Logo</div>
        <div>Lorem ipsum.</div>
        <div>User Icon</div>
    </header>
    <main>
        <products></products>
        <react-counter-wrapper [counter]="counter"
                               (onIncrease)="handleOnChildClick()"></react-counter-wrapper>
    </main>
    <footer>
        <div>Logo</div>
        <div>Lorem ipsum.</div>
        <div>User Icon</div>
    </footer>
</div>
<div>
    <app-switcher></app-switcher>
</div>